<ion-view view-title="Driver An Ride">

    <ion-content scroll="false" class="dark-bg">
        <div style="width:100%;height:500px" id="map_canvas">
            <div class="padding text-center">
                <h3 class="light">{{ $storage.chofer.nombre + ''+ $storage.chofer.apellido }}</h3>
                <h4 class="gray">{{ $storage.chofer.email }}</h4>



                <div class="padding gray-bg">
                    <h3 class="no-margin light" ui-sref="app.wallet">0 MXN</h3>
                </div>



            </div>
        </div>

    </ion-content>

</ion-view>
