<!--
  This template loads for the 'pickup' state (app.js)
  Show job information and customer contact
  job is a $scope variable in PickupCtrl (controllers.js)
-->
<ion-view view-title="Recoger">
  <ion-content scroll="false" class="pickup-content  dark-bg">
    <div class="padding light-bg">

        <span class="badge badge-balanced"><div ng-click="cancelarViaje()">Cancelar Viaje</div></span>
       
            <span class="badge badge-balanced"><div> 
                    <div ng-click="abrirNavegacion()">Abrir Google Maps</div>
                </div></span>
        
      <div class="item item-icon-left rounded balanced-bg margin-top light">
        <i class="icon ion-ios-location-outline"></i>
        <div>
            

          <h4 class="light">Direccion Origen</h4>
          <span>{{pickup.direccion_origen}}</span>
            
        </div>
      </div>

      <div class="item item-icon-left no-border rounded margin-top">
        <i class="icon ion-ios-flag-outline"></i>
        <div>
          <h4>Direccion Destino</h4>
          <span>{{pickup.direccion_destino}}</span>
        </div>
      </div>

        <a href="tel:{{pickup.cliente.numCel}}">
            <div class="item item-icon-left rounded balanced-bg margin-top light">
              <i class="icon ion-android-call"></i>
              <div>
                <h4 class="light">{{pickup.cliente.nombre}} {{pickup.cliente.apellido}}</h4>
                <span>LLAMAR A CLIENTE</span>
              </div>
            </div>
        </a>

    </div>

    <div class="bottom-buttons row">
      <div class="col">
        <button class="button button-block" ng-click="onPlace()">Llegue al lugar</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced" ng-click="empiezaViaje()" >Empieza Viaje</button>
      </div>
    </div>
  </ion-content>
</ion-view>
