<div class="list popup-payment">
    <label class="item item-input item-stacked-label no-padding padding-bottom">
        <span class="">Distancia (Mts)</span>
        <span>{{totales.distancia}}</span>
    </label>
    <label class="item item-input item-stacked-label no-padding padding-bottom">
        <span class="">Tiempo del Viaje (Mins)</span>
        <span>{{totales.tiempo}}</span>
    </label>
    <div class="item positive-bg text-center light">
        <span>Total(MXN)</span>
        <h4 class="light">${{totales.monto.toFixed(2)}}MXN</h4>
    </div>
</div>