<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="new-job" scroll="false">
        <div class="row">
            <div class="col-20 padding text-center">
                <i class="icon-job ion-location"></i>
                <div class="distance">{{solicitud.choferesDisponibles.matrix.rows[0].elements[0].distance.text}}</div>
                <div class="distance">{{solicitud.choferesDisponibles.matrix.rows[0].elements[0].duration.text}}</div>
            </div>
            <div class="col-80">

                <h4>Origen</h4>
                <span>{{solicitud.direccion_origen}}</span>
                <h4>Destino</h4>
                <span>{{solicitud.direccion_destino}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-20 padding text-center">
                <i class="icon-job ion-ios-flag-outline"></i>
            </div>
            <div class="col-80">
                <h4>{{solicitud.cliente.nombre}} {{solicitud.cliente.apellido}}</h4>
                <span>{{solicitud.cliente.numCel}}</span>

            </div>
        </div>
        <div class="row" style="height: 80px;">
            <div class="col text-center remaining">
                <span style="font-size: 60px; height: 100px;">{{remainingTime}}</span>
            </div>
        </div>
        <div class="bottom-buttons row">

            <div class="col">
                <button class="button button-block button-balanced" ng-click="selectJob()">ACEPTAR</button>
            </div>
        </div>
    </ion-content>
 </ion-view>