<!DOCTYPE html>
<html>
  <head>
    <title>Administracion de And Ride APP</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
<script src="/js/dependencies/sails.io.js"></script>
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bower_components/google-maps/lib/Google.js"></script>
    <script src="/js/bower_components/google-maps/lib/Google.min.js"></script>
    <script src="/js/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/js/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/core.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/data.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/disable-selection.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effect.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-blind.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-bounce.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-clip.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-drop.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-explode.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-fade.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-fold.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-highlight.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-puff.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-pulsate.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-scale.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-shake.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-size.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-slide.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/effects/effect-transfer.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/escape-selector.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/focusable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/form-reset-mixin.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/form.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-af.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ar-DZ.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ar.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-az.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-be.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-bg.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-bs.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ca.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-cs.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-cy-GB.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-da.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-de.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-el.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-en-AU.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-en-GB.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-en-NZ.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-eo.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-es.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-et.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-eu.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-fa.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-fi.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-fo.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-fr-CA.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-fr-CH.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-fr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-gl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-he.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-hi.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-hr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-hu.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-hy.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-id.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-is.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-it-CH.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-it.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ja.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ka.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-kk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-km.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ko.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ky.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-lb.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-lt.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-lv.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-mk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ml.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ms.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-nb.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-nl-BE.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-nl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-nn.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-no.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-pl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-pt-BR.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-pt.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-rm.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ro.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ru.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-sk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-sl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-sq.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-sr-SR.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-sr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-sv.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-ta.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-th.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-tj.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-tr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-uk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-vi.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-zh-CN.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-zh-HK.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/i18n/datepicker-zh-TW.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/ie.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/jquery-1-7.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/keycode.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/labels.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/core.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/data.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/disable-selection.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/effect.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/escape-selector.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/focusable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/form-reset-mixin.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/form.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-af.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ar-DZ.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ar.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-az.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-be.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-bg.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-bs.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ca.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-cs.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-cy-GB.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-da.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-de.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-el.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-en-AU.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-en-GB.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-en-NZ.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-eo.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-es.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-et.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-eu.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-fa.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-fi.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-fo.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-fr-CA.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-fr-CH.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-fr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-gl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-he.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-hi.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-hr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-hu.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-hy.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-id.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-is.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-it-CH.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-it.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ja.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ka.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-kk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-km.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ko.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ky.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-lb.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-lt.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-lv.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-mk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ml.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ms.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-nb.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-nl-BE.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-nl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-nn.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-no.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-pl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-pt-BR.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-pt.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-rm.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ro.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ru.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-sk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-sl.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-sq.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-sr-SR.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-sr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-sv.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-ta.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-th.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-tj.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-tr.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-uk.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-vi.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-zh-CN.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-zh-HK.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/i18n/datepicker-zh-TW.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/ie.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/jquery-1-7.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/keycode.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/labels.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/plugin.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/position.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/safe-active-element.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/safe-blur.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/scroll-parent.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/tabbable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/unique-id.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/version.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/minified/widget.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/plugin.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/position.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/safe-active-element.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/safe-blur.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/scroll-parent.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/tabbable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/unique-id.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/version.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widget.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/accordion.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/autocomplete.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/button.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/checkboxradio.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/controlgroup.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/dialog.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/draggable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/droppable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/menu.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/mouse.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/progressbar.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/resizable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/selectable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/selectmenu.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/slider.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/sortable.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/spinner.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/tabs.js"></script>
    <script src="/js/bower_components/jquery-ui/ui/widgets/tooltip.js"></script>
    <script src="/js/bower_components/jquery/dist/core.js"></script>
    <script src="/js/bower_components/jquery/dist/jquery.js"></script>
    <script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/bower_components/jquery/dist/jquery.slim.js"></script>
    <script src="/js/bower_components/jquery/dist/jquery.slim.min.js"></script>
    <script src="/js/bower_components/jquery/external/sizzle/dist/sizzle.js"></script>
    <script src="/js/bower_components/jquery/external/sizzle/dist/sizzle.min.js"></script>
    <script src="/js/bower_components/jquery/src/ajax.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/jsonp.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/load.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/parseXML.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/script.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/var/location.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/var/nonce.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/var/rquery.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/xhr.js"></script>
    <script src="/js/bower_components/jquery/src/attributes.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/attr.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/classes.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/prop.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/support.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/val.js"></script>
    <script src="/js/bower_components/jquery/src/callbacks.js"></script>
    <script src="/js/bower_components/jquery/src/core.js"></script>
    <script src="/js/bower_components/jquery/src/core/access.js"></script>
    <script src="/js/bower_components/jquery/src/core/DOMEval.js"></script>
    <script src="/js/bower_components/jquery/src/core/init.js"></script>
    <script src="/js/bower_components/jquery/src/core/parseHTML.js"></script>
    <script src="/js/bower_components/jquery/src/core/ready-no-deferred.js"></script>
    <script src="/js/bower_components/jquery/src/core/ready.js"></script>
    <script src="/js/bower_components/jquery/src/core/readyException.js"></script>
    <script src="/js/bower_components/jquery/src/core/stripAndCollapse.js"></script>
    <script src="/js/bower_components/jquery/src/core/support.js"></script>
    <script src="/js/bower_components/jquery/src/core/var/rsingleTag.js"></script>
    <script src="/js/bower_components/jquery/src/css.js"></script>
    <script src="/js/bower_components/jquery/src/css/addGetHookIf.js"></script>
    <script src="/js/bower_components/jquery/src/css/adjustCSS.js"></script>
    <script src="/js/bower_components/jquery/src/css/curCSS.js"></script>
    <script src="/js/bower_components/jquery/src/css/hiddenVisibleSelectors.js"></script>
    <script src="/js/bower_components/jquery/src/css/showHide.js"></script>
    <script src="/js/bower_components/jquery/src/css/support.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/cssExpand.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/getStyles.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/isHiddenWithinTree.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/rmargin.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/rnumnonpx.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/swap.js"></script>
    <script src="/js/bower_components/jquery/src/data.js"></script>
    <script src="/js/bower_components/jquery/src/data/Data.js"></script>
    <script src="/js/bower_components/jquery/src/data/var/acceptData.js"></script>
    <script src="/js/bower_components/jquery/src/data/var/dataPriv.js"></script>
    <script src="/js/bower_components/jquery/src/data/var/dataUser.js"></script>
    <script src="/js/bower_components/jquery/src/deferred.js"></script>
    <script src="/js/bower_components/jquery/src/deferred/exceptionHook.js"></script>
    <script src="/js/bower_components/jquery/src/deprecated.js"></script>
    <script src="/js/bower_components/jquery/src/dimensions.js"></script>
    <script src="/js/bower_components/jquery/src/effects.js"></script>
    <script src="/js/bower_components/jquery/src/effects/animatedSelector.js"></script>
    <script src="/js/bower_components/jquery/src/effects/Tween.js"></script>
    <script src="/js/bower_components/jquery/src/event.js"></script>
    <script src="/js/bower_components/jquery/src/event/ajax.js"></script>
    <script src="/js/bower_components/jquery/src/event/alias.js"></script>
    <script src="/js/bower_components/jquery/src/event/focusin.js"></script>
    <script src="/js/bower_components/jquery/src/event/support.js"></script>
    <script src="/js/bower_components/jquery/src/event/trigger.js"></script>
    <script src="/js/bower_components/jquery/src/exports/amd.js"></script>
    <script src="/js/bower_components/jquery/src/exports/global.js"></script>
    <script src="/js/bower_components/jquery/src/jquery.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/_evalUrl.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/buildFragment.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/getAll.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/setGlobalEval.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/support.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/var/rcheckableType.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/var/rscriptType.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/var/rtagName.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/wrapMap.js"></script>
    <script src="/js/bower_components/jquery/src/offset.js"></script>
    <script src="/js/bower_components/jquery/src/queue.js"></script>
    <script src="/js/bower_components/jquery/src/queue/delay.js"></script>
    <script src="/js/bower_components/jquery/src/selector-native.js"></script>
    <script src="/js/bower_components/jquery/src/selector-sizzle.js"></script>
    <script src="/js/bower_components/jquery/src/selector.js"></script>
    <script src="/js/bower_components/jquery/src/serialize.js"></script>
    <script src="/js/bower_components/jquery/src/traversing.js"></script>
    <script src="/js/bower_components/jquery/src/traversing/findFilter.js"></script>
    <script src="/js/bower_components/jquery/src/traversing/var/dir.js"></script>
    <script src="/js/bower_components/jquery/src/traversing/var/rneedsContext.js"></script>
    <script src="/js/bower_components/jquery/src/traversing/var/siblings.js"></script>
    <script src="/js/bower_components/jquery/src/var/arr.js"></script>
    <script src="/js/bower_components/jquery/src/var/class2type.js"></script>
    <script src="/js/bower_components/jquery/src/var/concat.js"></script>
    <script src="/js/bower_components/jquery/src/var/document.js"></script>
    <script src="/js/bower_components/jquery/src/var/documentElement.js"></script>
    <script src="/js/bower_components/jquery/src/var/fnToString.js"></script>
    <script src="/js/bower_components/jquery/src/var/getProto.js"></script>
    <script src="/js/bower_components/jquery/src/var/hasOwn.js"></script>
    <script src="/js/bower_components/jquery/src/var/indexOf.js"></script>
    <script src="/js/bower_components/jquery/src/var/ObjectFunctionString.js"></script>
    <script src="/js/bower_components/jquery/src/var/pnum.js"></script>
    <script src="/js/bower_components/jquery/src/var/push.js"></script>
    <script src="/js/bower_components/jquery/src/var/rcssNum.js"></script>
    <script src="/js/bower_components/jquery/src/var/rnothtmlwhite.js"></script>
    <script src="/js/bower_components/jquery/src/var/slice.js"></script>
    <script src="/js/bower_components/jquery/src/var/support.js"></script>
    <script src="/js/bower_components/jquery/src/var/toString.js"></script>
    <script src="/js/bower_components/jquery/src/wrap.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
