<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-dark">
        <h1 class="title">Agregar Forma de Pago</h1>
        <button class = "button button-clear" ng-click="closeViewAddTarjeta()">
           Cerrar
        </button>
    </ion-header-bar>
    <ion-content class="padding" class="has-header">

        <form name="form_add_tarjeta" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre Completo:</span>
                    <i class="ion-ios-email-outline light icon-label"></i>
                    <input type="text" placeholder="Nombre como aparece en la tarjeta"  ng-required="true" ng-minlength="5" data-conekta=”card[name]”  name="card[name]" ng-model="card.name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Numero Tarjeta:</span>
                    <i class="ion-ios-email-outline light icon-label"></i>
                    <input type="number" placeholder= "16 Digitos de la tarjeta"  ng-required="true" ng-minlength="16" ng-maxlength="16" data-conekta=”card[number]” name="card[number]"ng-model="card.number">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mes Expira:</span>
                    <i class="ion-ios-email-outline light icon-label"></i>
                    <select id="exp_month" data-conekta=”card[exp_month]” name="card[exp_month]" ng-model="card.exp_month">

                        <option value='1'>01</option>
                        <option value='2'>02</option>
                        <option value='3'>03</option>
                        <option value='4'>04</option>
                        <option value='5'>05</option>
                        <option value='6'>06</option>
                        <option value='7'>07</option>
                        <option value='8'>08</option>
                        <option value='9'>09</option>
                        <option value='10'>10</option>
                        <option value='11'>11</option>
                        <option value='12'>12</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Año Expira:</span>
                    <i class="ion-ios-email-outline light icon-label"></i>
                    <select id="exp_month" data-conekta=”card[exp_year]” name="card[exp_year]" ng-model="card.exp_year">
                        <option value="{{anio}}">{{anio}}</option>
                        <option value="{{anio + 1}}" >{{anio + 1}}</option>
                        <option value="{{anio + 2}}" >{{anio + 2}}</option>
                        <option value="{{anio + 3}}" >{{anio + 3}}</option>
                        <option value="{{anio + 4}}" >{{anio + 4}}</option>
                        <option value="{{anio + 5}}" >{{anio + 5}}</option>
                        <option value="{{anio + 6}}" >{{anio + 6}}</option>
                        <option value="{{anio + 7}}" >{{anio + 7}}</option>
                        <option value="{{anio + 8}}" >{{anio + 8}}</option>
                        <option value="{{anio + 9}}" >{{anio + 9}}</option>
                        <option value="{{anio + 10}}" >{{anio + 10}}</option>

                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Codigo Seguridad:</span>
                    <i class="ion-ios-email-outline light icon-label"></i>
                    <input type="number" placeholder= "CVC"  ng-required="true" ng-minlength="3" ng-maxlength="3" data-conekta=”card[cvc]” name="card[cvc]" ng-model="card.cvc">
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="create_token()" ng-disabled="form_add_tarjeta.$invalid">
                Agregar
            </button>
        </form>
    </ion-content>
</ion-modal-view>
