<!--
  This template loads for the 'finding' state (app.js)
  Show list of drivers with distance
  drivers is a $cope variable in FindingCtrl (controllers.js)
  FindingCtrl pull data from Drivers service (services.js)
-->
<ion-view hide-nav-bar="true">  
  <ion-content class="dark-bg" scroll="false">
    <!-- Green circle with marker icon in the center -->
    <div class="padding text-center">
      <div class="location-animation circle">
        <i class="ion ion-location light"></i>
      </div>
    </div>

    <div class="list list-drivers padding">
        <span class="text-center" style='color:#E6E6E6;'>Por Favor espera un momento , te estamos buscando el chofer mas cercano ...</span>
    </div>
  </ion-content>
</ion-view>
