<!--
  This template loads for the 'setting' state (app.js)
  Show settings
-->
<ion-view view-title="Configuracion">
  <ion-content class="">
    <ion-list>
      <ion-item class="item-divider">Formas de Pago</ion-item>

            <ion-radio ng-model="forma_pago" ng-value="'1'">Efectivo</ion-radio>
            <ion-radio ng-model="forma_pago" ng-value="'2'">Tarjeta de credito/debito</ion-radio>
      
      <ion-item class="item-divider">Tarjetas</ion-item>

      <ion-item class="item-icon-right">
        <p>Clean job history data</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right">
        <p>Clean cash history data</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
