<ion-view view-title="An Ride">
    <ion-content>

        <div class="map-overlay list">
            <div class="row responsive-sm">
                <div class="list" ng-click="searchOrigen()">
                    <div id="h_origen">Origen del viaje</div>
                    <i class="icon ion-search" style="font-size: 25px;margin: 10px;" ></i>
                    <span>{{solicitud.direccion_origen}}</span>
                </div>
            </div>
            <div class="row responsive-sm" ng-hide="hDestino" class="fadable">
                <div class="list">
                    <div id="h_destino">Destino del viaje</div>
                    <i class="icon ion-search" style="font-size: 25px;margin: 10px;" ng-click="searchDestino()"></i>
                    <span>{{solicitud.direccion_destino}}</span>
                </div>
            </div>
        </div>
        <div id="centerInfoBubble" ng-click="onSelectOrigen()" ng-hide="hideBubble" class="fadable">
            <div id="tiempo"><span>{{MarkerCoordenadas.tiempoLlegada}}</span></div>
            <div style="padding:10px;margin-left: 60px;">FIJA EL PUNTO DE PARTIDA
                <!-- <a class="button button-icon icon ion-android-arrow-dropright-circle"></a>-->
            </div>

        </div>
        <div id="centerMarker"></div>
        <div class="card" style="position: absolute;bottom: 90px;width: 95%;text-align: center;" ng-hide="hCostoEstimado" class="fadable">
            <div class="item item-divider">
                Costo Estimado
            </div>
            <div class="item item-text-wrap">
                $250MXN 
            </div>
            <div class="item item-divider">

                Forma de Pago

            </div>
            <div class="item item-text-wrap">
                <i class="icon ion-cash"></i> En Efectivo  <i class="icon ion-arrow-right-b gray"></i>
            </div>
        </div>
        <button class="button button-full button-dark" 
                style="position: absolute;bottom:0px;z-index: 20;" 
                ng-hide="hBtnPedir" 
                ng-click="crearsolicitud()"
                class="fadable">Pedir un AnRide</button>
        <map on-create="mapCreated(map)" data-tap-disabled="true"></map>


    </ion-content>
    <ion-footer-bar class="bar-dark">

        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate" side="right"></a>

    </ion-footer-bar>
</ion-view>