<ion-view view-title="An Ride">
    <ion-content>
        <div class="row responsive-sm">
            <div class="col">
                <div id="h_origen">Punto de Origen</div>
                <i class="icon ion-search"></i>
                <span>{{MarkerCoordenadas.direccion}}</span>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col">
                <i class="icon ion-search"></i>
                <span>{{MarkerCoordenadas.direccion}}</span>
            </div>
        </div>
        <div id="centerInfoBubble" ng-click="onSelectOrigen()" ng-hide="hideBubble">
            <div id="tiempo"><span>{{MarkerCoordenadas.tiempoLlegada}}</span></div>
            <div>Selecciona origen de viaje</div>
        </div>
        <div id="centerMarker"></div>
        <map on-create="mapCreated(map)" data-tap-disabled="true"></map>

    </ion-content>
    <ion-footer-bar class="bar-dark">
        
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate" side="right"></a>
    
    </ion-footer-bar>
</ion-view>