<!--
  This template loads for the 'payment_method' state (app.js)
-->
<ion-view view-title="Formas de Pago">

    <ion-content class="checkout stable-bg" ng-controller="PagosCtrl">
        
        <div class="list" ng-repeat="">

      <ion-radio ng-model="choice" ng-value="'cash'" ng-change="changeMethod('cash')">
        Pago en Efectivo 
       <p class="text-hint">(MXN)</p>
      </ion-radio>

      <ion-radio ng-model="choice" ng-value="'card'" ng-change="changeMethod('cash')">
        Tarjeta Bancaria
        <p class="text-hint">Tarjeta XXX71</p>
        
      </ion-radio>
        <ion-item class="item-icon-left" ng-click="addFormaPago()">
             <i class="icon ion-plus"></i>
          Agregar Forma de Pago  
            
        </ion-item>

    </div>

  </ion-content>
</ion-view>
