<!--
  This template loads for the 'history' state (app.js)
  Show list of completed trips
  records is a $scope variable in HistoryCtrl (controllers.js)
  HistoryCtrl pull data from Trips service (services.js)
-->
<ion-view view-title="Registro de Usuario" hide-nav-bar="true" class="login-bg">

    <ion-content class="login-bg">

        <div class="login-content" ng-controller="RegistroCtrl" style="width: 95%;">

            <div class="light-bg">

                <div class="list padding">
                    <h3>Nuevo Usuario AnRide </h3>
                    <form name="form_registro" class="form_registro" novalidate ng-submit="validate(form_registro)">
                        
                        <label for="txtRegNombre" class="item item-input">
                            <i class="ion-ios-email-outline light icon-label"></i>
                            Nombre:
                        </label>
                            <input type="text" ng-model="r.nombre" ng-required="true" ng-minlength="4" id="txtRegNombre" name = "txtRegNombre" class="input_registro">
                        
                        <label for="txtRegApellido" class="item item-input">
                            <i class="ion-ios-email-outline light icon-label"></i>
                            Apellido:
                        </label>
                            <input type="text" ng-model="r.apellido" ng-required="true" ng-minlength="4" id="txtRegApellido" name="txtRegApellido" class="input_registro">
                        
                        <label for="txtRegCelular" class="item item-input">
                            <i class="ion-ios-email-outline light icon-label"></i>
                            Celular:
                         </label>
                            <input type="number" ng-model="r.celular" ng-required="true" ng-minlength="8" id="txtRegCelular" name="txtRegCelular" class="input_registro">
                        
                        <label for="txtRegEmail" class="item item-input">
                            <i class="ion-ios-email-outline light icon-label" ></i>
                            Email:
                        </label>
                            <input type="email"  ng-model="r.email" ng-required="true" id="txtRegEmail" name="txtRegEmail">
                        
                        <label for="txtRegPassword" class="item item-input">
                            <i class="ion-ios-locked-outline light icon-label"></i>
                            Password: (Minimo 4 caracteres)
                        </label>
                            <input type="password" ng-model="r.password" ng-required="true" ng-minlength="4" id="txtRegPassword" name ="txtRegPassword">
                        
                   <div class="padding">
                    <input type="submit" class="button button-block button-balanced"  value ="Registrarse">
                        
                  
                </div> 
                    </form>
                </div> 

                
                
            </div>   



        </div>

    </ion-content>
</ion-view>
