<%- include ../includes/menu %>

<div class="container">

    <div class="row">
        <div class ="col-md-12">
            <div class="page-header">
                <h1>Nuevo Cliente</h1>
                <div>
                    <form role="form" method="POST">

                        <div class="form-group">
                            <label for="cliente.nombre">Nombre</label>
                            <input type="text" class="form-control" id="cliente.nombre"
                                   placeholder="Introduce un Nombre" name="cliente[nombre]" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="cliente.apellido">Apellidos</label>
                            <input type="text" class="form-control" id="cliente.apellido"
                                   placeholder="Introduce Apellidos" name="cliente[apellido]" required >
                                   </div>
                                   <div class="form-group">
                                   <label for="cliente.email">Email</label>
                            <input type="email" class="form-control" id="cliente.email"
                                   placeholder="Introduce un Email" name="cliente[email]" required style="text-transform: lowercase;">
                                   </div>
                                   <div class="form-group">
                                   <label for="cliente.password">Password</label>
                            <input type="password" class="form-control" id="cliente.password"
                                   placeholder="Introduce un Password" name="cliente[password]" required>
                                   </div>
                                   <div class="form-group">
                                   <label for="cliente.numCel">Telefono Cel.</label>
                            <input type="text" class="form-control" id="cliente.numCel"
                                   placeholder="Introduce Celular" name="cliente[numCel]" required>
                                   </div>
                                   <button type="submit" class="btn btn-default">Guardar</button>
                            </form>
                        </div>
                </div>


            </div>
            <script>
                $(document).ready(function() {





                });




            </script>