<nav class="navbar navbar-inverse">
 <div class="container-fluid">
<a class="navbar-brand" href="#">An Ride</a>
<ul class="nav navbar-nav">
<li><a href="/">Inicio</a></li>
<li><a href="/admin/clientes">Clientes</a></li>
<li><a href="/admin/solicitudes">Solicitudes</a></li>
<li><a href="/admin/servicios">Servicios</a></li>
<li><a href="/admin/choferes">Choferes</a></li>
<!-- <li><a href="/admin/autos">Autos</a></li> -->
<li><a href="/admin/pagos">Pagos</a></li>
<li><a href="/admin/configuracion">Configuracion</a></li>

</div>

</div>
</nav>
