 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Choferes</h1>
<div>
<div class=""><a href="#" class="btn btn-default">Nuevo Chofer</a></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Operaciones</th>
      </tr>
    </thead>
<tbody>
<% console.log(Cliente)%>
      <tr>
        <td>10</td>
        <td>Jesus</td>
        <td>Acevedo</td>
        <td>laloas_2004@yahoo.com.mx</td>
        <td>8110162454</td>
        <td><a href="#" class="btn btn-primary">Editar</a><a href="#" class="btn btn-danger">Bloquear</a></td>
      </tr>
</tbody>
    </table>

</div>
</div>


</div>