<%- include ../includes/menu %>

<div class="container">

    <div class="row">
        <div class ="col-md-12">
            <div class="page-header">
                <h1>Nuevo Chofer</h1>
                <div>
                    <form role="form" method="POST">

                        <div class="form-group">
                            <label for="chofer.nombre">Nombre</label>
                            <input type="text" class="form-control" id="chofer.nombre"
                                   placeholder="Introduce un Nombre" name="chofer[nombre]" required>
                        </div>

                        <div class="form-group">
                            <label for="chofer.apellido">Apellidos</label>
                            <input type="text" class="form-control" id="chofer.apellido"
                                   placeholder="Introduce Apellidos" name="chofer[apellido]" required >
                        </div>
                        <div class="form-group">
                            <label for="chofer.email">Email</label>
                            <input type="email" class="form-control" id="chofer.email"
                                   placeholder="Introduce un Email" name="chofer[email]" required style="text-transform: lowercase;">
                        </div>
                        <div class="form-group">
                            <label for="chofer.password">Password</label>
                            <input type="password" class="form-control" id="chofer.password"
                                   placeholder="Introduce un Password" name="chofer[password]" required>
                        </div>
                        <div class="form-group">
                            <label for="chofer.numCel">Telefono Cel.</label>
                            <input type="text" class="form-control" id="chofer.numCel"
                                   placeholder="Introduce Celular" name="chofer[numCel]" required>
                        </div>
                        <div class="form-group">
                            <label for="chofer.numLicencia">Numero de Licencia</label>
                            <input type="text" class="form-control" id="chofer.numLicencia"
                                   placeholder="Introduce Numero de Licencia" name="chofer[numLicencia]" required>
                        </div>
                        <div class="form-group">
                            <label for="chofer.domicilio">Domicilio</label>
                            <input type="text" class="form-control" id="chofer.domicilio"
                                   placeholder="Introduce Domicilio Completo" name="chofer[domicilio]" required>
                        </div>
                        <div class="form-group">
                            <label for="chofer.ife">Numero de IFE</label>
                            <input type="text" class="form-control" id="chofer.ife"
                                   placeholder="Introduce Numero de IFE" name="chofer[ife]" required>
                        </div>
                        <div class="form-group">
                            <label for="chofer.ifeImage">IFE Digitalizado</label>
                            <input type="file" class="form-control" id="chofer.ifeImage"
                                   name="chofer[ifeImage]" required accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="chofer.domiImage">Comprobante de Domicilio</label>
                            <input type="file" class="form-control" id="chofer.domiImage"
                                   name="chofer[domiImage]" required accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="chofer.noPenalesImage">Carta de antecedentes no Penales</label>
                            <input type="file" class="form-control" id="chofer.noPenalesImage"
                                   name="chofer[noPenalesImage]" required accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="chofer.imagen">Imagen de Chofer</label>
                            <input type="file" class="form-control" id="chofer.imagen"
                                   name="chofer[imagen]" required accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-default">Guardar</button>
                    </form>
                </div>
            </div>


        </div>
        <script>
            $(document).ready(function () {





            });




        </script>