<%- include ../includes/menu %>

<div class="container">

    <div class="row">
        <div class ="col-md-12">
            <div class="page-header">
                <h1>Nuevo Chofer</h1>
                <div>
                    <form role="form" method="POST">

                        <div class="form-group">
                            <label for="chofer.nombre">Nombre</label>
                            <input type="text" class="form-control" id="chofer.nombre"
                                   placeholder="Introduce un Nombre" name="chofer[nombre]" required>
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="chofer.apellido">Apellidos</label>
                            <input type="text" class="form-control" id="chofer.apellido"
                                   placeholder="Introduce Apellidos" name="chofer[apellido]" required >
                                   </div>
                                   <div class="form-group">
                                   <label for="chofer.email">Email</label>
                            <input type="email" class="form-control" id="chofer.email"
                                   placeholder="Introduce un Email" name="chofer[email]" required>
                                   </div>
                                   <div class="form-group">
                                   <label for="chofer.password">Password</label>
                            <input type="password" class="form-control" id="chofer.password"
                                   placeholder="Introduce un Password" name="chofer[password]" required>
                                   </div>
                                   <div class="form-group">
                                   <label for="chofer.numCel">Telefono Cel.</label>
                            <input type="text" class="form-control" id="chofer.numCel"
                                   placeholder="Introduce Celular" name="chofer[numCel]" required>
                                   </div>
                                   <button type="submit" class="btn btn-default">Guardar</button>
                            </form>
                        </div>
                </div>


            </div>
            <script>
                $(document).ready(function() {





                });




            </script>