 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Configuracion</h1>
<div>

<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Tarifa Por Kilometro</label>
<input type="text" class="form-control">
</div>
</div>
<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Radio de Busqueda</label>
<input type="text" class="form-control">
</div>
</div>
<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Tarifa de cancelacion</label>
<input type="text" class="form-control">
</div>
</div>
<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Tarifa por Espera (por minuto)</label>
<input type="text" class="form-control">
</div>
</div>
<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Cuenta de Conekta</label>
<input type="text" class="form-control">
</div>
</div>
<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Key de Conekta</label>
<input type="text" class="form-control">
</div>
</div>
<div class="row">
<div class = "col-md-12">
<label for="tarixkm">Key de Google Maps</label>
<input type="text" class="form-control">
</div>
</div>




</div>
</div>


</div>