<%- include ../includes/menu %>

<div class="container">

    <div class="row">
        <div class ="col-md-12">
            <div class="page-header">
                <h1>Configuracion</h1>

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Datos Empresa</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class = "col-md-12">
                                        <label for="nombre">Nombre Empresa:</label>
                                        <input type="text" class="form-control" name="nombre" id="nombre">
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class = "col-md-12">
                                        <label for="slogan">Slogan Empresa:</label>
                                        <input type="text" class="form-control" name="slogan" id="slogan">
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class = "col-md-12">
                                        <label for="logo_utl_def">Logo Empresa:</label>
                                        <input type="text" class="form-control" name="logo_utl_def" id="logo_utl_def">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class = "col-md-12">
                                        <label for="direccion">Direccion:</label>
                                        <input type="text" class="form-control" name="direccion" id="direccion">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class = "col-md-12">
                                        <label for="nombre_app_cliente">Nombre App Cliente:</label>
                                        <input type="text" class="form-control" name="nombre_app_cliente" id="nombre_app_cliente">
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class = "col-md-12">
                                        <label for="nombre_app_chofer">Nombre App Chofer:</label>
                                        <input type="text" class="form-control" name="nombre_app_chofer" id="nombre_app_chofer">
                                    </div>
                                </div>

                            </div>
                        </div>  


                    </div>
                    <div class="col-md-6"></div>


                </div>


                <div>

                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Tarifa Por Kilometro</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Radio de Busqueda</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Tarifa de cancelacion</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Tarifa por Espera (por minuto)</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Cuenta de Conekta</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Key de Conekta</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12">
                            <label for="tarixkm">Key de Google Maps</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>




                </div>
            </div>


        </div>