 <%- include ../includes/menu %>

<div class="container">

<div class="row">
<div class ="col-md-12">
<div class="page-header">
<h1>Solicitudes</h1>
<div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Origen de Viaje</th>
        <th>Destino de Viaje</th>
        <th>Estimacion</th>
        <th>Fecha / Hora</th>
        <th>Operaciones</th>
      </tr>
    </thead>
<tbody>
<% console.log(Cliente)%>
      <tr>
        <td>10</td>
        <td>abelardo@websiete.com</td>
        <td>Gonzalitos #829 San Nicolas de los Garza</td>
        <td>Av. Universidad</td>
        <td>$200MXN</td>
        <td>1 Enero 2017 3:00PM</td>
        <td><a href="#" class="btn btn-primary">Asignar a Chofer</a></td>
      </tr>
</tbody>
    </table>

</div>
</div>


</div>