<%- include ../includes/menu %>

<div class="container">

    <div class="row">
        <div class ="col-md-12">
            <div class="page-header">
                <h1>Nueva Solicitud</h1>
                <div>
                    <form role="form" method="POST" novalidate>



                        <div class="panel panel-default">
                            <div class="panel-heading">Direccion Origen</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="servicio.origen">Origen</label>
                                    <input type="text" class="form-control" id="servicio_origen"
                                           placeholder="Introduce un Origen" name="servicio[origen]" required>
                                    <input type="hidden" class="form-control" id="coords_origen" name="servicio[coords_origen]">
                                </div>
                                <div class="form-group">
                                    <label for="origen_ciudad">Ciudad</label>
                                    <input type="text" class="form-control" id="origen_ciudad" readonly="true">
                                   
                                </div>
                                <div class="form-group">
                                    <label for="origen_estado">Estado</label>
                                    <input type="text" class="form-control" id="origen_estado" readonly="true">

                                </div>
                                <div class="form-group">
                                    <label for="origen_cp">CP</label>
                                    <input type="text" class="form-control" id="origen_cp" readonly="true">

                                </div>
                                
                            <div id="dialog_no_choferes" title="No hay choferes disponibles">
                              <p>Por el momento no hay choferes diponibles en esta zona, intentalo mas tarde.</p>
                            </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Direccion Destino</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="cliente.apellido">Destino</label>
                                    <input type="text" class="form-control" id="servicio_destino"
                                           placeholder="Introduce Destino" name="servicio[destino]" required >
                                    <input type="hidden" class="form-control" id="coords_destino" name="servicio[coords_destino]">
                                </div>
                                <div class="form-group">
                                    <label for="origen_ciudad">Ciudad</label>
                                    <input type="text" class="form-control" id="destino_ciudad" readonly="true">

                                </div>
                                <div class="form-group">
                                    <label for="origen_estado">Estado</label>
                                    <input type="text" class="form-control" id="destino_estado" readonly="true">

                                </div>
                                <div class="form-group">
                                    <label for="origen_cp">CP</label>
                                    <input type="text" class="form-control" id="destino_cp" readonly="true">

                                </div>
                            </div></div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Datos del Cliente</div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="cliente.email">Numero Celular</label>
                                    <input type="email" class="form-control" id="cliente.email"
                                           placeholder="Introduce un Email" name="cliente[email]" required style="text-transform: lowercase;">
                                </div>
                                <div class="form-group">
                                    <label for="cliente.email">Correo electronico</label>
                                    <input type="email" class="form-control" id="cliente.email"
                                           placeholder="Introduce un Email" name="cliente[email]" required style="text-transform: lowercase;">
                                </div>
                            </div></div>

                        
                    </form>
                    
                    <button class="btn btn-primary btn-lg btn-block"> Enviar Solicitud </button>

                    <div id="map" style="height:450px;margin-top:10px;" class="col-md-12"></div> 
                </div>
            </div>


        </div>
        <script>

            var placeSearch, autocomplete, autocomplete_origen, autocomplete_destino;
            var placeOrigen = null;
            var placeDestino = null;
            var choferMarker = [];
            var solicitud = { 
                        _solicitudData:{},
                        _choferes:[],
                        _matrix:{},
                        _origen:{},
                        _destino:{},
                        getChoferes:function(place, cb){
                           
                            that = this;
                       
                           var data = { lon:place.geometry.location.lng(), lat:place.geometry.location.lat() };
                            
                           io.socket.get("/cliente/choferes", data, function (resData, jwres){
                               
                               if(!resData.error){
                                    that._choferes = resData.choferes;
                                    cb(resData);
                               
                               }else{
                                    console.log(resData);
                                    cb(false);  
                               }
                            
                                
                                });     
                        },
                        enviarSolicitud:function(){
                            
                            that = this;

                        },
                        setOrigen(origen){
                         that = this;
                         that._origen = origen;
                        },
                        setDestino(destino){
                          that = this;
                          that._destino = destino;
                        },
                        _validarSolicitud:function(next){
                            
                            that = this;
                            
                            next();

                        },
                        alert(msg){
                            
                            alert(msg);
                        }
            
                     };


  function initMap() {
      
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
                
                
            var componentForm_origen = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
            };
            
            var componentForm_origen = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
            };
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                      var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude

                      };

                          map = new google.maps.Map(document.getElementById('map'), {
                              center: {lat:pos.lat, lng:pos.lng},
                              zoom: 12
                          }); 
                      });  
                }else{
        
                 map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 25.747215080976115, lng: -100.29709576508179},
                    zoom: 12
                });
        
            }
 

                
                
                var options = {
                                //types: ['(cities)'],
                                types: ['geocode','establishment'],
                                componentRestrictions: {country: "mx"}
                               };

                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete_origen = new google.maps.places.Autocomplete(
                        /** @type {!HTMLInputElement} */(document.getElementById('servicio_origen')),
                        options);

                autocomplete_destino = new google.maps.places.Autocomplete(
                        /** @type {!HTMLInputElement} */(document.getElementById('servicio_destino')),
                        options);

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete_origen.addListener('place_changed', fillInAddress_origen);
                autocomplete_destino.addListener('place_changed', fillInAddress_destino);
                
                

            function fillInAddress_origen() {
                
                 placeOrigen = autocomplete_origen.getPlace();
                
                for (var i = 0; i < placeOrigen.address_components.length; i++) {

                    var addressType = placeOrigen.address_components[i].types[0];
                    
                    
                    if(addressType == "locality"){
                        
                       setCiudadOrigen(placeOrigen.address_components[i].long_name); 
                    }
                    if(addressType == "administrative_area_level_1"){
                        
                       setEstadoOrigen(placeOrigen.address_components[i].long_name); 
                    }
                    
                    if(addressType == "postal_code"){
                        
                       setCPOrigen(placeOrigen.address_components[i].long_name); 
                    }
                    

                   
                }
                
                
               calculateAndDisplayRoute(map, directionsService, directionsDisplay, placeOrigen, placeDestino,function(res){
                   
                  solicitud.getChoferes(placeOrigen,function(res){
                      
                     if(!res){
                         
                        $( "#dialog_no_choferes" ).dialog("open");
                        
                         return false;
                     } 
                     
                     addChoferesMarkers(map,function(){
                         
                         
                         
                         
                     });
                     
                      
                  });
                   
               });
                   
               
            }
            
            function setCiudadOrigen(ciudad){
                
                $('#origen_ciudad').val('');
                
                if(ciudad){
                    
                 console.log(ciudad);
                
                $('#origen_ciudad').val(ciudad);
                    
                }
                
                
            }
            
            function setEstadoOrigen(estado){
                
                  $('#origen_estado').val('');
                
                if(estado){
                    
                 console.log(estado);
                
                $('#origen_estado').val(estado);
                    
                }
                
            }
            
            function setCPOrigen(cp){
                
                $('#origen_cp').val('');
                
                if(cp){
                    
                 console.log(cp);
                
                $('#origen_cp').val(cp);
                    
                }
                
            }
            
            
            
            function fillInAddress_destino() {
                
                    placeDestino = autocomplete_destino.getPlace();
               
                for (var i = 0; i < placeDestino.address_components.length; i++) {

                    var addressType = placeDestino.address_components[i].types[0];

                                       
                    if(addressType == "locality"){
                        
                       setCiudadDestino(placeDestino.address_components[i].long_name); 
                    }
                    if(addressType == "administrative_area_level_1"){
                        
                       setEstadoDestino(placeDestino.address_components[i].long_name); 
                    }
                    
                    if(addressType == "postal_code"){
                        
                       setCPDestino(placeDestino.address_components[i].long_name); 
                    }
                }
                
                calculateAndDisplayRoute(map, directionsService, directionsDisplay, placeOrigen, placeDestino,function(){
                    
                    
                    
                });
                    
                    
              
            }
            
            
            function setCiudadDestino(ciudad){
                
                $('#destino_ciudad').val('');
                
                if(ciudad){
                    
                 console.log(ciudad);
                
                $('#destino_ciudad').val(ciudad);
                    
                }
                
            }
            
            function setEstadoDestino(estado){
                
                  $('#destino_estado').val('');
                
                if(estado){
                    
                 console.log(estado);
                
                $('#destino_estado').val(estado);
                    
                }
                
            }
            
            function setCPDestino(cp){
                
                $('#destino_cp').val('');
                
                if(cp){
                    
                 console.log(cp);
                
                $('#destino_cp').val(cp);
                    
                }
                
            }
            
            
            function addChoferesMarkers(map,cb){
                
               var image = '/images/car-icon.png';
               
               clearChoferesMarkers(map,function(){
                   
                   solicitud._choferes.forEach(function(item,index){
                   
                            choferMarker[index] = new google.maps.Marker({
                                               position: {lat:item.lat, lng:item.lon},
                                               map: map,
                                               icon: image
                                             });
                   
                        }); 
                   
                       
               });
              
               
               cb();
                
                
            }
            
            function clearChoferesMarkers(map,cb){
                
               choferMarker.forEach(function(item,index){
                   
                   item.setMap(null);
                   
               }); 
               
               choferMarker = [];
            
            cb();
                
            }
            

           function calculateAndDisplayRoute(map, directionsService, directionsDisplay, placeOrigen, placeDestino, cb){
               
               directionsDisplay.setMap(map);
               

               if(placeOrigen != null && placeDestino != null){
                   
                                   
                directionsService.route({
                                            origin:{'placeId': placeOrigen.place_id},
                                            destination:{'placeId': placeDestino.place_id},
                                            travelMode: 'DRIVING'
                                          }, function(response, status) {
                                            if (status === 'OK') {
                                           
                                              directionsDisplay.setDirections(response);
                                            } else {
                                              window.alert('Directions request failed due to ' + status);
                                            }
                                          });
                                          
                                          
                                          cb();
                   
                   
               }else{
                cb(); 
            }
                

                
            }
            
            

            }





            $(document).ready(function () {
                
                $( "#dialog_no_choferes" ).dialog({
                             autoOpen: false,
                         });


            });




        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWp8rfTpYiFsnn2tLEx4VupIqkLCqQllA&libraries=places&callback=initMap"
                async defer>
        </script>
